body {
  padding-top: 40px;
  padding-bottom: 40px;
  //background-image: url('images/icon.png');
  background-color: rgba(0,255,255,0.39);
  background-size:cover;
}

.start-row {
	position:relative;
	margin-top: 600px;
	margin-left:30%;
	color:#699b00;
}

.category-row {
	position: relative;
	margin-top: 100px;
	margin-left:9%;
	margin-bottom:-480px;
}
h1 {

	color:#699b00;
}

.qtable-row {
	margin-left: 20%;
	margin-top: 10%;
	color:white;
	
}
.table-heading {
	background-color:#699b00;
	font-size:30px;
	opacity: 0.7;
	font-weight: 100;
}
.table-row {
	font-size:20px;
	color:#699b00;
}

.score-pct {
	position:fixed;
	left:50%;
	top:50%;
	opacity:0.9;
}

#play-btn {
	position:fixed;
	left:47%;
	top:60%;
	font-size: 24px;
	height:75px;
	width: 200px;
	opacity:0.8;
	background-color:#699b00;
}

#options:hover {
	background-color: #ffffff;
	opacity:0.1;
	color: black;
}

