body.globalfont {
    font-family:'Times New Roman', Georgia, serif;
    color:#222;
    line-height: 3em;
}

h2 {
	color: #232323;
	margin: 30px 0;
	font-size: 48px;
	font-weight: 500;
	font-style: normal;
	line-height: 1.1em;
	letter-spacing: -1px;
	font-family: 'CrimsonSemiBold';
}

div.nav ul li {
	display:inline;
	list-style-type:none;
	font-size:12px;
	font-family:'Lucida Grande', 'Lucida Sans Unicode',Verdana, sans-serif;
}

div.nav li.days {
	color:#999;
	padding-left:0;
	margin-left:-30px;
}

.largelogo {
    text-align: center;
    top: 100px;
}

#firstline-2nd {
	margin-left:700px;
	color: rgb(51, 102, 153);
}

div.nav ul li.firstline-3rd {
	padding-left: 25px;
	color: rgb(51, 102, 153);
}

div.nav ul li.signin {
	margin-left:25px;
	color: rgb(51, 102, 153);
}

div.first-heading {
	font-size:27px;
	width:875px;
	margin-left:auto;
	margin-right:auto;
	padding-top:-30px;
	
	
}

div.first-heading h2 {
	font-size:20px;
}

div.first-box-container {
	text-align: center;
}

div.first-box {
	height:250px;
	width:180px;
	border:2px solid #e8e8e8;
	background-color: #efefef;
	border-radius:5px;
	display:inline-block;
	margin-right:40px;
}
.first-box img {
	float:left;
	margin-left:30px;
	margin-top:20px;
	padding:0;
}

.first-box h3 {
	float:left;
	color:#369;
	margin-left:20px;
	margin-top:-5px;
	font-size:21px;
	text-decoration:underline;
	font-family: 'Lucinda Grande','Lucida Sans Unicode', Verdana, sans-serif;
	font-weight:bold;
}

.first-box h3 span {
	color:#999;
	font-weight:normal;
	font-size:15px;
}

.first-box h4 {
	float:left;
	color:#cc0000;
	font-size:18px;
	margin-left:18px;
	margin-top:-40px;
}

.first-box p {
	float:left;
	color:#222;
	font-size:14px;
	font-family: 'Lucinda Grande','Lucida Sans Unicode', Verdana, sans-serif;
	line-height: 1.4em;
	margin-top:-10px;
	margin-left:5px;
	margin-bottom:-10px;
}

div.second-box-container {
	text-align:center;
}

.meet {
	height:150px;
	width:120px;	
}
.customers-img {
	float:left;
	margin-left:15px;
	-webkit-filter:grayscale(100%);
}
.customers-img:hover {
	-webkit-filter:grayscale(0%);
}
.arrow {
	float:left;
	padding-left:130px;
	margin-top:-50px
}
.arrow-basecamp {
	position:relative;
	left:110px;
	top:-280px;
	-webkit-transform: rotate(10deg);
}
.arrow-campfire {
	position:relative;
	left:30px;
	top:-280px;
	-webkit-transform: rotate(240deg);
}
div.meet p.customers {
	font-family:'Lucinda Grande','Lucida Sans Unicode', Verdana, sans-serif;
	font-size:10px;
	text-align: center;
	line-height:1.3em;
	color:#369;
	margin-left: 15px;
	width:120px;
}
div.meet h2 {
	float:left;
	color:#232323;
	font-size:48px;
	font-weight: 500;
	font-style: normal;
	line-height: 1.1em;
	letter-spacing: -1px;
	width:800px;
	margin-top:-130px;
	margin-left: 180px;
}
div.meet p.loyal_customers {
	float:left;
	text-align: left;
	font-weight: 400;
	font-size:22px;
	line-height:1.3em;
	color:#666;
	width:750px;
	margin-top:-200px;
	margin-left:120px;
}
.world-badge {
	float:left;
	padding-left:850px;
}
.logos-companies {
	float:left;
	margin-left:130px;;
}
.meet h2.webuilt {
	float:left;
	padding-top: 200px;
	font-size:48px;
	font-weight: 500;
	font-style: normal;
	line-height: 1.1em;
	letter-spacing: -1px;
}
div.third-box-container {
	text-align:center;
}
div.first-column {
	position:absolute;
	width:380px;
	margin-right:40px;
	text-align:left;
	font-family:'Lucinda Grande','Lucida Sans Unicode', Verdana, sans-serif;
	line-height: 1.4em;
	font-size:12px;
	margin-top: 550px
}
div.first-column h3 {
	float:left;
	font-size: 58px;
	font-weight: 500;
	line-height: normal;
	color:#ccc;
	margin-left:180px;
	margin-top:-20px;
	font-family: 'CrimsonSemiBold';
}
div.first-column h4 {
	margin-left:220px;
	margin-top:-110px;
	width:300px;
	float:left;
	font-size:16px;
	color:#cc0000;
}
div.first-column p {
	float:left;
	width:350px;
	margin-left:220px;
	margin-top:-90px;
}

div.second-column {
	position:relative;
	width:380px;
	padding-top: 1000px
	margin-bottom:-100px;
	margin-left:400px;
	text-align:left;
	font-family:'Lucinda Grande','Lucida Sans Unicode', Verdana, sans-serif;
	line-height: 1.4em;
	font-size:12px;
	
}
div.second-column h3 {
	float:left;
	font-size: 58px;
	font-weight: 500;
	margin-left:250px;
	margin-top:-13px;
	line-height: normal;
	color:#ccc;
	font-family: 'CrimsonSemiBold';
}
div.second-column h4 {
	float:left;
	margin-left:290px;
	margin-top:-115px;
	width:300px;
	font-size:16px;
	color:#cc0000;
}
div.second-column p {
	float:left;
	margin-left:290px;
	margin-top:-95px;
	margin-bottom:-30px;
	width:350px;
}
div.fourth_box_container {
	text-align:center;
	padding-top:100px;
}
hr {
	clear: both;
	border: 0;
	background: rgb(255, 255, 255) url('images/img-hr.png') no-repeat scroll 50% 50%;
	color: rgba(0, 0, 0, 0);
	height: 12px;
}

.rework h2 {
	float:left;
	margin-left:auto;
	margin-right:auto;
	padding-left:250px;
	width:900px;
	padding-top:30px;
	text-align: center;
}

.rework-arrow {
	float:left;
	margin-left:-130px;
	margin-top:180px;
}

.rework-crumble {
	float:left;
	margin-left:1100px;
	margin-top:-100px;
}
.rework #find {
	float:left;
	margin-left:-100px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	font-size: 10px;
	text-align: center;
	color:#369;
}
.rework-img {
	float:left;
	margin-top:-30px;
	margin-left:100px;
}
.rework h3 {
	float:left;
	color: #888;
	font-weight: normal;
	font-family: "CrimsonRomanItalic", "Times New Roman", Georgia, serif;
	font-style: italic;
	font-size: 22px;
	width:590px;
	line-height: 1.5em;
	text-align: center;
	margin-top:-30px;
}

.rework #quotes {
	float:left;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	font-size: 12px;
	font-style:normal;
	color:black;
	margin-top:10px;
	margin-left:100px;
}

#footnote {
	color: rgb(102, 102, 102);
	font-size: 12px;
	line-height: 1.4em;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

div.bottom-container div.first-box {
	background-color: transparent;
	border:none;
}
div.bottom-container div.second-box div.first-column{
	position:relative;
	width:300px;
	height:400px;
	margin-top:-30px;
	margin-left:-400px;
}
div.bottom-container div.second-box div.second-column {
	position:relative;
	width:300px;
	height:400px;
	margin-top:-400px;
}

#footer-red {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	font-size: 14px;
	color: rgb(204, 0, 0);
	text-align:center;
	margin-left:0px;
	margin-top:30px;
	padding-bottom: 5px;
	border-bottom: 1px solid rgb(232, 232, 232);
	width:300px;
	font-weight:bold;
	padding-bottom:10px;
	
}

#footer-h3 {
	font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;
	font-size:22px;
	color: rgb(34, 34, 34);
	text-align: center;
	width:200px;
	margin-left:-10px;
	padding-top:18px;
}
#footer-h3-2 {
	margin-top:10px;
	font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;
	font-size:22px;
	color: rgb(34, 34, 34);
	text-align: center;
	width:200px;
	margin-left:-10px;
	padding-top:5px;
}
#footer-ul {
	list-style-type: none;
}

#footnote2 {
	margin-left:-30px;
	margin-top:-20px;
	color: rgb(102, 102, 102);
	font-size: 12px;
	line-height: 1.4em;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
#footer-sc {
	margin-top:-100px;
}
#footer-red3 {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	font-size: 14px;
	color: rgb(204, 0, 0);
	text-align:center;
	margin-top:30px;
	padding-bottom: 5px;
	width:200px;
	font-weight:bold;
	
}
#way-bottom {
	color:rgb(51, 102, 153);
}
#footnote-end {
	line-height:2em;
	color: rgb(51, 102, 153);
	font-size: 12px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
#footnote-end :hover {
	color: rgb(102, 102, 102);
}


